<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-body">
            <div class="card-title">
              Insert a new poeple
            </div>
        </div>
      </div>
      <ul class="list-group">
          <li
          *ngFor="let deportista of DeportistaArray"
          class="list-group-item list-group-item-action">

          {{deportista.nombre }}
        </li>
      </ul>

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
