<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-body">
            <div class="card-title">
              Insert a new poeple
            </div>
            <div type="form-group">
              <input type="text" [(ngModel)]="selectedDeportista.nombre" placeholder="Agregar el Nombre" id="">
            </div>
            <div type="form-group">
              <input type="text" [(ngModel)]="selectedDeportista.pais" placeholder="Agregar el Pais" id="">
            </div>
            <button (click)="AddOrEdit()" class="btn btn-primary">Grabar</button>
            <button *ngIf="selectedDeportista.id !== 0 && DeportistaArray.length > 0"
            class="btn btn-danger"
            (click)="eliminarDeportista()"
            >Eliminar</button>
          </div>
      </div>
      <ul class="list-group">
          <li
          *ngFor="let deportista of DeportistaArray"
          class="list-group-item list-group-item-action"
          (click)="opneForEdit(deportista)"
          [class.active]="deportista == selectedDeportista">

          <span class="badge badge-primary">{{deportista.id}}</span>
          {{deportista.nombre }} - {{deportista.pais}}
        </li>
      </ul>

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
