<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card mt-4 text-white bg-secondary mb-3"  >
        <div class="card-body">
          <div class="card-title">
            Insert a new poeple
          </div>
          <div type="form-group">
            <input type="text" class="form-control" [(ngModel)]="selectedDeportista.nombre" placeholder="Agregar el Nombre" id="">
          </div>
          <div type="form-group">
            <input type="text" class="form-control  mt-2 "  [(ngModel)]="selectedDeportista.pais" placeholder="Agregar el Pais" id="">
          </div>
          <div type="form-group">
            <input type="text" class="form-control  mt-2 "  [(ngModel)]="selectedDeportista.profesion" placeholder="Agregar la profesión" id="">
          </div>
          <div type="form-group">
            <input type="number" class="form-control  mt-2 "  [(ngModel)]="selectedDeportista.edad" placeholder="Agregar la edad " id="">
          </div>
          <div type="form-group">
            <input type="text" class="form-control  mt-2 "  [(ngModel)]="selectedDeportista.correo" placeholder="Agregar el correo" id="">
          </div>
          <button (click)="AddOrEdit()" class="btn btn-primary  mt-2">Grabar</button>
          <button *ngIf="selectedDeportista.id !== 0 && DeportistaArray.length > 0" class="btn btn-danger mt-2" (click)="eliminarDeportista()">Eliminar</button>
        </div>
      </div>
      <ul class="list-group">
        <li *ngFor="let deportista of DeportistaArray" class="list-group-item list-group-item-action" (click)="opneForEdit(deportista)"
          [class.active]="deportista == selectedDeportista">

          <span class="badge badge-primary">{{deportista.nombre}}</span>
          -> Profesión: {{deportista.profesion }} - País: {{deportista.pais}} - Edad: {{deportista.edad}} - Correo: {{deportista.correo}}
        </li>
      </ul>

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
