<div class="row">
<h1 class="container bg-dark text-white text-center my-4 py-4" >¿Es importante hacer actividad física?</h1>
<img src="/lab2/src/otherimages/hazdeporte.ico" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|" alt="">
<p class="text-md-left"> CrossFit es un sistema de acondicionamiento físico basado en ejercicios constantemente variados, con movimientos funcionales, ejecutados a alta intensidad. Es el principal programa de entrenamiento de academias de policía de elite y equipos de operaciones tácticas, unidades militares, campeones de artes marciales y centenares de otros profesionales y atletas alrededor del mundo.</p>
</div>