<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="row">
  <h1 class="container bg-dark text-white text-center my-4 py-4">¿Es importante hacer actividad física?</h1>
  <div class="col-md-12">
    <h6 class="container   bg-secondary text-white  rounded"> Realizar actividad física de manera regular puede ser más benéfico de lo que creemos ya que no solo será una manera de quemar calorías y perder peso sino una forma de beneficiar a nuestro cuerpo en muchos sentidos, contribuyendo a la buena salud física y mental.
     <p></p>
      Se considera actividad física cualquier movimiento corporal que exige un gasto de energía. Realizar una
      actividad física significa simplemente “moverse” y abarca el ejercicio pero también otras actividades como el
      juego, una forma activa de transporte, actividades recreativas entre otras.
      <p></p>
      La actividad física debe de ser moderada y constante para que realmente se obtengan efectos benéficos para la
      salud y se logre la prevención de enfermedades. Se ha demostrado que la actividad física regular ayuda a
      aliviar el estrés, es una forma natural de combatir y reducir los síntomas de la ansiedad y la depresión,
      reduce la presión arterial y el riesgo de padecer enfermedades cardiovasculares y diabetes, así como algunos
      tipos de cáncer, en específico el de colon y mama, y es una manera de prevenir enfermedades musculares y la
      osteoporosis.
      <p></p>
      La actividad regular puede contribuir a un mejor control de peso e influir positivamente en la cantidad y
      calidad de lo que consumimos. Se ha visto que cuando se realiza actividad física de manera habitual se mejora
      notablemente la autoestima, lo cual se ha demostrado se asocia a una dieta más sana, en la que se toman
      mejores decisiones alimentarias y se evita el consumo de alimentos con un alto contenido de grasas y
      azúcares. En pocas palabras, el ejercicio puede reducir los deseos de comer este tipo de alimentos poco sanos
      y ricos en calorías.

      <p></p>
      Existe una relación entre el nivel de actividad física y la esperanza de vida, de modo que las personas que
      son físicamente más activas suelen vivir más que aquellas que llevan una vida más sedentaria o con menos
      actividad.
      <p></p>
      Incorporar a la vida cotidiana algunas actividades sencillas como caminar lo más posible, subir escaleras en
      lugar de utilizar el elevador, andar en bici, bailar o iniciar un programa de ejercicio nos hará sentirnos
      mejor y mejorará de forma notable nuestra salud.
      <p></p>
      En general se recomienda sesiones regulares de una intensidad moderada, como caminar con energía todos o casi
      todos los días por un mínimo de 30 minutos, sin duda ayudará a mejorar nuestro estado físico y mental.
      Así que pruebe cambiar ciertos hábitos, como ver mucha televisión o permanecer mucho tiempo sentado, que le
      hacen tener una vida más sedentaria y elija un estilo de vida más activo el cual le brindará grandes
      beneficios.
    </h6>
  </div>

</div>
