<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0r_XSiNwnkY"></iframe>
      </div>
    </div>

  <div class="col-md-6">
      <h1 class="container bg-dark text-white text-center my-4 py-4">6 Mínutos de actividad física</h1>
    <h6 class="container   bg-secondary text-white  rounded"> Moverse es importante en la siguiente rutina, se muestran una serie de ejercicios que seran benficiosos para su cuerpo en tan solo 6 minutos.
      <p></p>
      No olvide que la actividad de 30 minutos al día, como tan solo caminar puede ayudar mucho a su estado físico y  psicológico.
      <p></p>
    </h6>
  </div>

  </div>
  <div class="row" >
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gP8EsVPl5fo"></iframe>
      </div>
    </div>
    <div class="col-md-6">
        <h1 class="container bg-dark text-white text-center my-4 py-4">Una rutina de ejercicios de 7 minutos para el hogar </h1>
      <h6 class="container   bg-secondary text-white  rounded"> Muchas veces, no tendremos un equipo de pesas o el acceso a un gimnasio, pero existen rutinas con movimientos básicos como olas sentadillas que nos pueden ayudar a mantener un estado físico adecuado, claramente mezclado con otros ejercicios, que podremos ejecutar en casa.
       <p></p>


      </h6>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KkdAdkCuo-4"></iframe>
      </div>
    </div>
    <div class="col-md-6">
        <h1 class="container bg-dark text-white text-center my-4 py-4">Ejercicios en Casa</h1>
      <h6 class="container   bg-secondary text-white  rounded"> Con un poco más de entrenamiento o con el conocimiento adecuado, veremos que no solo podremos mejorar en la cantidad repeticiones de un ejercicio, sino también en el tiempo que nos lleva realizarlo, también es importante el aspecto de las progresiones, ya que no todos estamos en un mismo nivel de estado físico.
       <p></p>
       Cada uno debe ir a su ritmo, para evitar lesiones y así progresar, nunca olvidando que la persona con la que tenemos que comprarnos es con nosotros mismos, no con nadie más y que básicamente, uno compite contra sí mismo.
        <p></p>
      </h6>
    </div>
  </div>
</div>
