<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0r_XSiNwnkY"></iframe>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gP8EsVPl5fo"></iframe>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KkdAdkCuo-4"></iframe>
      </div>
    </div>
  </div>
</div>